__pycache__/
gmxtop.egg-info/
gmxtopology.egg-info/
develop.ipynb
build/
dist/
test/
setup.cfg
gmxtop/__pycache__/
gmxtop/gmxtop.egg-info/
gmxtopology/gmxtopology.egg-info/

gmxtop/parse/__pycache__/
gmxtop/specs/__pycache__/
examples/.ipynb_checkpoints/
.vscode/
.release-venv/
tests/fixtures/prosECCo75-e4831a4/prosECCo75/
